
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Restrict access to files within the 'reports' folder.
    match /reports/{allPaths=**} {
      /**
       * @description Allows any authenticated user to read and write files within the 'reports' folder.
       */
      allow read, write: if request.auth != null;
    }
  }
}
