rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Restrict access to files within the 'reports' folder.
    match /reports/{userId}/{allPaths=**} {
      /**
       * @description Allows a user to read and write files only within their own user-specific folder.
       */
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
